@model E_commercePIM.ViewModels.ProductEditorViewModel

@{
    ViewBag.Title = "Product Editor";
}

<div class="row">
    <h2 class="col-md-5 col-md-offset-1">@Model.Name</h2>
    <div class="col-md-6">
        @Html.ActionLink("Delete", "Delete", new {id = @Model.Id}, new {@class = "btn btn-danger col-md-offset-1 top-button"})
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        @Html.AntiForgeryToken()
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @Html.HiddenFor(model => model.Id)
        <div class="col-md-6">
            <div class="form-group col-md-offset-2">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>

            <div class="form-group col-md-offset-2">
                @Html.LabelFor(model => model.Price)
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-offset-2">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, 5, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-offset-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedCategories, "Categories (hold ctrl to select more than one):")
                @Html.ListBoxFor(model => model.SelectedCategories, Model.AvailableCategories, new {@class = "form-control"})
            </div>
        </div>

    </div>
}

<div class="col-md-offset-1">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}